$font-family-base: 'Roboto';
@import '~bootstrap/scss/bootstrap';

.team-red { color: $red; }
.team-green { color: $green; }
.team-blue { color: $blue; }

%paper-0 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .4); }
%paper-1 { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2); }
%paper-2 { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4); }
%paper-3 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .4); }
%paper-4 { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4); }
%paper-5 { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .4); }

main > .navbar {
	@extend %paper-1;
	margin-bottom: 20px;
}

.card {
	@extend %paper-1;
}

.match {
	margin: 1rem 1rem;

	&.match + .match {
		border-top: 1px solid $gray-lighter;
		padding-top: 1rem;
	}
}

.match-scores-world {
	text-align: right;
}
